# Ignore Visual Studio files
.vs/
*.suo
*.user
*.vcxproj.user
*.pdb
*.obj
*.exe
*.log
*.ipch
*.db
*.idb
*.ilk
*.aps
*.ncb
*.sdf
*.opensdf
*.cache
*.tlog
*.VC.db

# Ignore solution files
*.sln

# Ignore build output folders
x64/
